/* 
    Document   : login_style
    Created on : May 12, 2013, 3:56:05 PM
    Author     : Boy
    Description:
        Purpose of the stylesheet follows.
*/

#content {
    position: relative;
    min-height: 520px;
}

#content #login {
    position: absolute;
    top: 40%;
    left: 50%;
    display: block;
}

.login_bt {
    position: absolute;
    top: 5%;
    right: 15%;
    height: 50px;
    width: 100px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}

.back_to_home_bt {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 50px;
    width: 100px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}

img#logo {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -179.5px;
    display: block;
}

/* Footer part */
footer {
    position: relative;
    text-align: center;
}