/*
 * Author: ben
 * Create time: 30/4/2013
 * Function: to define the style of the index page.
 * */

body {
	float: none;
}

/*Header part*/
#header {
	text-align: center;
}

img#logo {
	margin: 0 auto;
	display: block;
}

.navi {
	margin-left: 5px;
	margin-right: 5px;
	color: #ffffff;
	font-size: 120%;
	text-decoration: none;
}

a.navi:hover {
	color: #464646;
}

#decologo {
	margin-top: 20px;
}

#decologo #longbar {
	width: 100%;
	height: 4px;
	background-color: #464646;
}

#decologo #shortbar {
	width: 360px;
	height: 4px;
	background-color: #464646;
	margin: 0 auto;
}

/*End of header part*/

/*Content part*/
#content {
	position: relative;
	min-height: 520px;
}

#content #backbar {
	z-index: -1; /*as the background*/
	position: absolute;
	top: 150px;
	background-color: #c8c8c3;
	width: 100%;
	height: 200px;
}

#content #framewrapper {
	position: relative;
	margin: 0 auto;
	width: 1024px;
}

#content #framewrapper .frame_content {
	position: absolute; /*relative to framewrapper*/
	top: 70px;
	right: 20px;
}

#content #framewrapper #display_item {
	position: absolute; /*relative to framewrapper*/
	top: 80px;
	right: 46px;
}

#content #framewrapper #detail {
	overflow: hidden; /*cannot be put at the end*/
	position: absolute;
	top: 150px;
	left: 20px;
	text-align: right;
	height: 180px;
	width: 400px;
	text-overflow: ellipsis;
}

/*End of content part*/

/*Footer part*/
#footer {
	position: relative;
	text-align: center;
}

/*End of footer part*/
/*这个地方数字都写死了*/

/*Sidebar part*/

/*#side_bar {
 position: fixed;
 top: 50%;
 left: 0px;
 height: 600px;
 margin-top: -300px;
 }*/

#side_bar #handler {
	position: fixed;
	top: 50%;
	margin-top: -123px;
}

#side_bar #expand_sidebar {
	position: fixed;
	height: 609px;
	width: 677px;
	top: 50%;
	left: 0px;
	margin-top: -304px;
}

#side_bar #expand_sidebar #sidebar_content {
	height: 574px;
	width: 650px;
	background-color: #eeeee8;
	opacity: 0.8;
	box-shadow: 0 10px 10px -6px #a9a9a9;
	-webkit-box-shadow: 0 10px 10px -6px #a9a9a9;
	-moz-box-shadow: 0 10px 10px -6px #a9a9a9;
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	overflow-y: auto;
	overflow-x: none;
}

#side_bar #expand_sidebar #handler_vanish {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #d2d2cd;
	height: 609px;
	width: 43px;
	background-image: url(../images/sidebar_handler.png);
}