/*Header part*/

header {
	height: 100px;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

header #logo {
	display: inline-block;
}

nav {
	position: relative;
	bottom: 30px;
	margin-left: 20px;
	color: #ffffff;
	font-size: 120%;
	text-decoration: none;
	display: inline-block;
}

.navi {
	margin-left: 5px;
	margin-right: 5px;
	color: #ffffff;
	font-size: 120%;
	text-decoration: none;
}

a.navi:hover {
	color: #464646;
}

#login {
	display: inline-block;
	width: 350px;
	text-align: right;
}

/*End of header part*/

/*Content part*/
#content {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

#content #contentwrapper {
	position: relative;
	width: 1024px;
	margin:0 auto;
	height: auto;
}

#content #contentwrapper #frame {
	position: relative;
	margin-left: 0px;
	display: inline-block;
}

#content #contentwrapper #frame #frame_back {
	z-index: -1;
	margin-left: 0;
	margin-top: 0;
}

#content #contentwrapper #frame #frame_highlight {
	position: absolute;
	top:11px;
	left: 17px;
}

#content #contentwrapper #frame #frame_image {
	height: 485px; /*fixed dimension*/
	width: 480px;
	position: absolute;
	top: 11px;
	left: 17px;
}

#contentwrapper #shade {
	position: absolute;
	top: -40px;
	right: 0px;
	background-image: url(../images/item_shade.png);
	width: 500px;
	height: 197px;
	z-index: 1;
}

#contentwrapper #title {
	position: absolute;
	top: 20px;
	left: 570px;
	z-index: 1;
}

#contentwrapper #description {
	position: absolute;
	top: 100px;
	left: 570px;
	width: 400px;
}

#description p:first-letter {
	font-size: 2em;
	padding: 0.1em;
	vertical-align:baseline;
	text-transform: capitalize;
}

/*End of content part*/


/*Footer part*/

footer {
	position: fixed;
	bottom: 0;
	width:100%;
	background-color: #DADAD2;
	min-height: 20px;
	box-shadow: 0 0 20px 30px #dadad2;
	-webkit-box-shadow: 0 0 20px 30px #dadad2;
	-moz-box-shadow: 0 0 20px 30px #dadad2;
	text-align: center;
	display: none;
}

/*Function button part*/

#function {
	position: fixed;
	bottom: 30px;
	right: 10%;
}

.func_button {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #464646;
	z-index: 2;
	display: inline-block;
	margin-right: 10px;
	box-shadow: 0 0 10px ;
	-webkit-box-shadow: 0 0 10px ;
	-moz-box-sadow: 0 0 10px;

}
